body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  margin-left: 97.5px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

video {
  z-index: 1;
}

textarea {
  margin-left: 5px;
  margin-right: 3px;
  vertical-align: bottom;
  width: 400px;
  height: 100px;
}

label {
  vertical-align: bottom;
}

button {
  background: linear-gradient(bottom, gray 0%, black 100%);
  padding: 3px;
  color: white;
  margin-left: 10px;
  width: 100px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.buttonGroup {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.addText {
  margin-top: 20px;
  text-align: center;
}
